.BtnOutline {
  height: 40px;
  /* width: 90%; */
  margin: 0 auto;
  padding: 0 14px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BtnFilled {
  height: 40px;
  /* width: 90%; */
  margin: 0 auto;
  padding: 0 14px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  text-align: center;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BtnOutline a,
.BtnFilled a {
  text-decoration: none;
}

@media screen and (min-width: 430px) {
  .BtnOutline,
  .BtnFilled {
    width: 150px;
    margin: 5px 5px;
  }
}

@media screen and (min-width: 500px) {
  .BtnOutline,
  .BtnFilled {
    width: 200px;
  }
}
