*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 93%;
  margin: 0 auto;
}

/* Header Styles */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo span {
  display: none;
  margin-left: 5px;
  color: #f2f2f2;
}

.topNavWrapper {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background: #347edbc7;
}

.topNavWrapper.active,
.topNavWrapper.active .navs.responsive {
  background: #3680dc;
}

.topNav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navs {
  display: none;
}

.navs a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #fff;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 0.9rem;
}

.navs .signin {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-right: 20px;
}

.navs .demo {
  background: #fff;
  color: #206ecf;
  border: 1px solid #fff;
  border-radius: 4px;
}

.navs .demo:hover {
  color: #206ecf;
  background: rgb(234, 232, 232);
  border: 1px solid rgb(234, 232, 232);
}

.navs.responsive {
  border-top: 1px solid rgba(255, 255, 255, 0.245);
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #508fe1;
  width: 100%;
  top: 60px;
  right: 0;
  padding: 10px 20px 20px;
}

.navs.responsive .signin {
  margin: 0;
  margin-bottom: 20px;
}

.navs.responsive .signin,
.navs.responsive .demo {
  width: 200px;
  text-align: center;
}

.navs a:hover,
.navs a.active {
  color: rgba(255, 255, 255, 0.795);
}

.navIcon {
  display: block;
  cursor: pointer;
}

.bar1,
.bar2 {
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.mobile .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 5px);
  transform: rotate(-45deg) translate(-4px, 5px);
}

.mobile .bar2 {
  -webkit-transform: rotate(45deg) translate(-2px, -2px);
  transform: rotate(45deg) translate(-2px, -2px);
}

/* End of Header Styles */

/* Cookies Styles */
.cookiesWrapper {
  position: fixed;
  bottom: 10px;
  left: 0;
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
  color: #020202c4;
  width: 100%;
  font-size: 0.8rem;
}
.cookies {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cookies a {
  text-decoration: none;
  color: #020202c4;
}
.cookiesInfo {
  width: 100%;
}
.cookiesBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cookiesBtn button {
  margin: 10px 0;
}
/* End of Cookies Styles */

@media screen and (min-width: 350px) {
  .navs.responsive {
    width: 300px;
  }

  .cookiesBtn {
    flex-direction: row;
  }

  .cookiesBtn button {
    margin: 0 10px;
  }
}

@media screen and (min-width: 430px) {
  .container {
    width: 90%;
  }
  .logo span {
    display: block;
    margin-left: 7px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    object-fit: contain;
  }
}

@media screen and (min-width: 880px) {
  .container {
    width: 85%;
  }
  .cookies {
    width: 100%;
    flex-direction: row;
    text-align: left;
  }
}

@media screen and (min-width: 1012px) {
  .navIcon {
    display: none;
  }
  .topNavWrapper {
    height: 70px;
  }
  .navs {
    display: flex;
    justify-content: end;
  }
  .navs a {
    color: #fff;
  }
}

@media screen and (min-width: 1020px) {
  .container {
    width: 75%;
  }
}
