.Features {
  width: 100%;
  height: auto;
  margin: 6rem auto;
  padding: 1.5rem 0;
  background-color: #f1f8f9;
  position: relative;
}

.Features p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #1f2024c2;
}

.FeaturesHeadingTexts {
  margin-bottom: 4rem;
}

.FeaturesHeadingTexts h1 {
  color: #1f2024c2;
  line-height: 2;
  font-size: 1.8rem;
}

.FeaturesContainer {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
}

.FeaturesContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem 1rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 16px 2px rgb(0 0 0 / 6%);
  transition: 0.5s;
  color: #1f2024c2;
}

.FeaturesContent h3 {
  margin: 2rem 0 0.5rem;
}

.Description {
  line-height: 1.5;
}

.IconBox {
  max-width: 30px;
  height: 20px;
}

.IconBox h3 {
  font-size: 0.9rem;
}

.FeaturesContent hr {
  border-top: 1px solid #cbd6e2;
  margin: 1.8rem 0;
}

.FeaturesList li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
  font-size: 0.9rem;
}

.FeaturesList div {
  margin-right: 0.4rem;
}

.FeaturesButton {
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FeaturesButton button {
  height: 30px;
  padding: 0 15px;
  background: white;
  font-size: 0.9rem;
  color: #206ecf;
  border: 1.5px solid #206ecf;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

@media screen and (min-width: 340px) {
  .Features {
    padding: 4rem 0;
  }

  .FeaturesContent {
    padding: 1rem 1rem 2.5rem;
  }

  .IconBox,
  .IconBox h3 {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 640px) {
  .FeaturesContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .FeaturesHeadingTexts h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 968px) {
  .Features {
    background: #f1f8f9;
    padding-top: 2.5rem;
    transform: skew(0deg, -5deg) translateY(-50px);
  }

  .FeaturesWrapper {
    padding: 2.5rem 0;
    transform: skew(0deg, 5deg);
  }

  .FeaturesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
