.Features {
  width: 100%;
  height: auto;
  margin: 6rem auto;
  padding: 1.5rem 0;
  background-color: #f1f8f9;
  position: relative;
  transform: skew(0deg, -5deg) translateY(-50px);
}

.FeaturesWrapper {
  padding: 2.5rem 0;
  transform: skew(0deg, 5deg);
}

.Features p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #1f2024c2;
}

.FeaturesHeadingTexts {
  margin-bottom: 4rem;
}

.FeaturesHeadingTexts h1 {
  color: #1f2024c2;
  line-height: 2;
  font-size: 1.8rem;
}

.FeaturesContainer {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
}

.FeaturesContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem 1rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 16px 2px rgb(0 0 0 / 6%);
  transition: 0.5s;
  color: #1f2024c2;
}

.FeaturesContent h3 {
  margin: 2rem 0 0.5rem;
}

.Description {
  line-height: 1.5;
}

.IconBox {
  max-width: 30px;
  height: 20px;
}

.FeaturesContent hr {
  border-top: 1px solid #cbd6e2;
  margin: 1.8rem 0;
}

.FeaturesButton {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FeaturesButtonSM {
  grid-column: span 2;
}

.FeaturesButton button {
  height: 30px;
  padding: 0 15px;
  background: white;
  font-size: 0.9rem;
  color: #206ecf;
  border: 1.5px solid #206ecf;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

.FeaturesSliders {
  margin: 1rem auto;
}

@media screen and (min-width: 340px) {
  .Features {
    padding: 4rem 0 1rem;
  }

  .FeaturesContent {
    padding: 1rem 1rem 2.5rem;
  }

  .IconBox,
  .IconBox h3 {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 640px) {
  .FeaturesContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .FeaturesHeadingTexts h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 968px) {
  .Features {
    background: #f1f8f9;
    padding-top: 2.5rem;
    /* transform: skew(0deg, -5deg) translateY(-50px); */
  }

  .FeaturesContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .FeaturesButton {
    height: 220px;
  }

  .FeaturesButtonSM {
    grid-column: span 1;
  }
}
