.Testimonial {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 450px;
  margin: 0 auto 13rem;
}

.LeftSide {
  flex-basis: 25%;
}

.RightSide {
  flex-basis: 55%;
  position: relative;
}

.TestimonialContainer {
  display: flex;
}

.TestimonialItem {
  background-color: white;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 20px 2px rgb(0 0 0 / 9%);
  color: #1f2024c2;
  position: absolute;
}

.Title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.1;
}

.TestimonialButton {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -4rem 0 4rem;
}

.TestimonialButton button {
  height: 30px;
  padding: 0 15px;
  background: white;
  font-size: 11px;
  color: #206ecf;
  border: 1.5px solid #206ecf;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

.TestimonialText,
.TestimonialMeta {
  font-size: 13px;
  line-height: 1.6;
}

.TestimonialMeta {
  margin: 3rem 0;
}

.LogoImageBox img {
  max-width: 80px;
}

.UserImageBox {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0;
  bottom: -22%;
  box-shadow: 0px 4px 16px 2px rgb(0 0 0 / 6%);
}

.UserImageBox img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 16px 2px rgb(0 0 0 / 6%);
}

.SliderIndicators {
  transform: translateX(-50%);
  position: absolute;
  left: 30%;
  bottom: -10rem;
  z-index: 2;
}

.IndicatorButton {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 15px;
  border: 1px solid #206ecf;
  cursor: pointer;
  transition: 0.7s;
}

.ActiveIndicator {
  background: #206ecf;
  width: 14px;
}

@media screen and (min-width: 512px) {
  .UserImageBox {
    bottom: -25%;
  }

  .SliderIndicators {
    left: 40%;
  }
}

@media screen and (min-width: 970px) {
  .Testimonial {
    flex-direction: row;
    height: auto;
    margin: 0 auto 15rem;
  }

  .LeftSide {
    flex-basis: 45%;
    margin-right: 1.5rem;
    padding: 2rem 0;
  }

  .Title {
    max-width: 70%;
  }

  .TestimonialButton {
    justify-content: flex-start;
    margin: 0;
  }

  .TestimonialMeta {
    margin: 2.5rem 0;
  }
}
