.footer {
  background: #1b1e22;
  padding: 32px 0 16px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.community {
  text-align: center;
  margin: 20px auto;
}

.community p {
  margin: 20px auto;
}

form.subscribe {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

form.subscribe input[type="text"] {
  padding: 10px 0;
  font-size: .9rem;
  border: 0;
  width: 92%;
  max-width: 92%;
  height: 50px;
  background: transparent;
  border-bottom: 1px solid grey;
}

.subscribe button {
  width: 8%;
  max-width: 8%;
  height: 50px;
  padding: 10px 0;
  border: 0;
  background: transparent;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-bottom: 1px solid grey;
}

.footerLinksWrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.career {
  width: 59px;
  height: 16px;
  background: #206ecf;
  border-radius: 2px;
  font-size: 0.6rem;
  color: #f3f5f7;
  padding: 2px 4px;
}

.columnDisplay {
  display: flex;
  flex-direction: column;
}

.columnDisplay h3 {
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.117);
  font-weight: 600;
}

.columnDisplay a {
  text-decoration: none;
  color: #b6c0cd;
  margin: 8px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.socialBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.socialBtns a {
  margin-right: 20px;
}

.socialBtns img {
  border: 1px solid rgba(255, 255, 255, 0.589);
}

.rowDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rowDisplay a {
  margin: 0 20px;
}

.rowDisplay span {
  margin-left: 5px;
}

.reservedFooter {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
  color: #f3f5f7;
  font-size: 0.8rem;
  border: 0;
}
.reservedFooter a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
}

.reservedFooterLinksSm {
  display: block;
  margin-bottom: 30px;
}

.hr {
  width: 80%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.117);
  height: 1px;
  border: none;
}

.reservedFooterLinksLg {
  display: none;
}

.reservedFooterText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar {
  color: rgb(255 255 255 / 35%);
  margin: 0 20px;
}

.reservedFooterText .rowDisplay {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color:  #fff;
  color: rgba(0, 0, 0, 0.676);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  right: 0;
}

.reservedFooterText .rowDisplay:hover .tooltiptext {
  visibility: visible;
}

.english {
  display: none;
}

@media screen and (min-width: 375px) {
  .footerLinksWrapper {
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }
}

@media screen and (min-width: 550px) {
  .footerLinksWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .socialBtns {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 150px;
  }
  .socialBtns a {
    margin-right: 0;
  }
  form.subscribe {
    width: 60%;
  }
  .english {
    display: block;
  }
  .tooltiptext {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .reservedFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.117);
  }
  .reservedFooterLinksSm {
    display: none;
  }
  .reservedFooterLinksLg {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .reservedFooterLinksLg a:not(:first-child) {
    margin: 0 10px;
  }

  form.subscribe {
    width: 40%;
  }
}
@media screen and (min-width: 1045px) {
  .footerLinksWrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}