.Footer {
  background: #1b1e22;
  padding: 32px 0 16px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.Community {
  text-align: center;
  margin: 20px auto;
}

.Community p {
  margin: 20px auto;
}

form.Subscribe {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

form.Subscribe input[type="text"] {
  padding: 10px 0;
  font-size: .9rem;
  border: 0;
  width: 92%;
  max-width: 92%;
  height: 50px;
  background: transparent;
  border-bottom: 1px solid grey;
}

.Subscribe button {
  width: 8%;
  max-width: 8%;
  height: 50px;
  padding: 10px 0;
  border: 0;
  background: transparent;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-bottom: 1px solid grey;
}

.FooterLinksWrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.Career {
  width: 59px;
  height: 16px;
  background: #206ecf;
  border-radius: 2px;
  font-size: 0.6rem;
  color: #f3f5f7;
  padding: 2px 4px;
}

.ColumnDisplay {
  display: flex;
  flex-direction: column;
}

.ColumnDisplay h3 {
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.117);
  font-weight: 600;
}

.ColumnDisplay a {
  text-decoration: none;
  color: #b6c0cd;
  margin: 8px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.SocialBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.SocialBtns a {
  margin-right: 20px;
}

.SocialBtns img {
  border: 1px solid rgba(255, 255, 255, 0.589);
}

.RowDisplaySm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RowDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.RowDisplay a {
  margin: 0 20px;
}

.RowDisplay span {
  margin-left: 5px;
}

.ReservedFooter {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
  color: #f3f5f7;
  font-size: 0.8rem;
  border: 0;
}
.ReservedFooter a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
}

.ReservedFooterLinksSm {
  display: block;
  margin-bottom: 30px;
  width: 90%;
  max-width: 400px;
  margin: 0 auto 30px;
}

.Hr {
  width: 80%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.117);
  height: 1px;
  border: none;
}

.ReservedFooterLinksLg {
  display: none;
}

.ReservedFooterText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Bar {
  color: rgb(255 255 255 / 35%);
  margin: 0 20px;
}

.ReservedFooterText .RowDisplay {
  position: relative;
}

.TooltipText {
  visibility: hidden;
  width: 80px;
  background-color:  #fff;
  color: rgba(0, 0, 0, 0.676);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  right: 0;
}

.ReservedFooterText .RowDisplay:hover .TooltipText {
  visibility: visible;
}

.English {
  display: none;
}

@media screen and (min-width: 375px) {
  .RowDisplaySm {
    flex-direction: row;
    justify-content: space-around;
  }
  .FooterLinksWrapper {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 550px) {
  .FooterLinksWrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  .SocialBtns {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 150px;
  }
  .SocialBtns a {
    margin-right: 0;
  }
  form.Subscribe {
    width: 60%;
  }
  .English {
    display: block;
  }
  .TooltipText {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .ReservedFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.117);
  }
  .ReservedFooterLinksSm {
    display: none;
  }
  .ReservedFooterLinksLg {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .ReservedFooterLinksLg a:not(:first-child) {
    margin: 0 10px;
  }

  form.Subscribe {
    width: 40%;
  }
}
@media screen and (min-width: 1045px) {
  .FooterLinksWrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}